
*{
    box-sizing: border-box;
}



body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}



#page-container{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
}



#global-header{
    background-image: url("https://picsum.photos/2050/500/?grayscale");
    background-size: cover;
    min-height: 300px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;



    nav{
        background-color: #fff;
        border-style: solid;
        border-color: #827f7f;
        border-width: 1px;
        
        

        ul{     
            display: flex;
            gap: 1rem;       
            li{
                list-style: none;   
                
            }
        }
    }
}

/* Main Header */

#mainlogo{
    font-size: 30px;

    font-family: arial;

    font-weight: 900;

    color: #747b82;

    text-decoration: none;

    text-transform: uppercase;
}

main{
    max-width: 1200px;
    width: 100%;
    margin: 1rem auto;

    section {
        h2{
            text-align: center;
        }
        article {
            margin: 0 auto;
        }
    }
}


a { 
    color: #000;
    text-decoration: none;
}


article{
    margin: 1rem 0;
    border:1px solid #827f7f;
    max-width: 400px;
    width: 100%;
    min-width: 250px;
    padding: 1rem;
    img{
        width: 100%;
    }
}


/* Hovedinnhold */

.btn{
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 0.5rem;
}

.btn2{
    display: inline-block;
    background-color: #4071bf;
    color: #fff;
    padding: 0.5rem;
}


.side-container{
    background-color: #c4c4c4;
    padding: 1rem;

    section{
        max-width: 1200px;
        margin: 0 auto;
        padding: 1rem 0;
    }

}


footer{
    background-color: #333437;
    color: #fff;
    min-height: 150px;
    padding: 16px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    

    h2, form, p{
        max-width: 1200px;
        margin: 0 auto;
        padding: 1rem 0;
    }
    



    form{
        
            input{
                display: block;
                padding: 0.5rem;
                margin: 0.4rem 0;
                max-width: 600px;
        }
        }
        
}

.textBox{
    width: 100%;
}

#melding{
    width: 100%;
    height: 8rem;
}

.age-check{
    display: flex;
    align-items: center;
    gap: 1rem;
    
}






@media only screen and (min-width: 600px){

    #page-container{
            grid-template-columns: 1fr 1fr 0.5fr;
            grid-template-rows: repeat(4, auto);
        }
    #global-header{
            grid-column: 1 / 4; /* spenner 1-3 */
        }

    main{
            grid-column: 1 / 3;
        }

    .side-container{
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;
        }





    article{
            margin: 1rem 0;
            border:1px solid #827f7f;
            width: 31%;
            min-width: 250px;
            padding: 1rem;
            flex-grow: 1;
            max-width: 800px;
        }
    .category-card{
            width: 33%;
            flex-grow: 0;
        }


    .grow-1{
            flex-grow: 1;
        }

    .grow-2{
            flex-grow: 1;
    
        }

    .flex-container{
           display: flex;
           flex-wrap: wrap;
           gap: 0.5rem;
           justify-content: center;
           padding: 1rem;
           
         }
    .flex-container h2{
            width: 100%;
        }
    .flex-container article{
            min-width: 300px !important;  /* OBS: !important bør brukes sparsomt */
            margin: 0;
            padding-bottom: 17rem;
        }
    

    footer{
            grid-column-start: 1;
            grid-column-end: 4;
    }
    /* section.flex-grow{
            justify-content: flex-start;
        } */
}